a:link {
	color: #F2F0EC;
}
a:visited {
	color:#F2F0EC;
}
a:active {
	color: #F2F0EC;

}
a:hover{
	position:relative;
	top:1px;
	left:1px;
	color:#F2F0EC;
	text-decoration:none;
	font-weight: 500;
	border: 2px dashed #F2F0EC;
		}
