a:link { color:#CCCCCC;text-decoration:none}
a:visited {
	color:#CCCCCC;
	font-size:12px;
	text-decoration: none;
}
a:active {
	text-decoration: none;
	color: #CCCCCC;

}
a:hover{
		position:relative;
		top:1px;
		left:1px;
		color:#CCCCCC; 
		text-decoration:none;
		font-weight: 500;
		}
