BODY {
scrollbar-face-color:#ECE9D8;
scrollbar-highlight-color:#FFFFFF;
scrollbar-3dlight-color:#B4A492;
scrollbar-darkshadow-color:#B4A492;
scrollbar-shadow-color:#F8F7EF;
scrollbar-arrow-color:#808080;
scrollbar-track-color:#F8F7EF;
}
