.scroll {
scrollbar-face-color:#000000;
scrollbar-highlight-color:#FFFFFF;
scrollbar-3dlight-color:#000000;
scrollbar-darkshadow-color:#000000;
scrollbar-shadow-color:#808080;
scrollbar-arrow-color:#FFFFFF;
scrollbar-track-color:#000000;
}
BODY {
scrollbar-face-color:#000000;
scrollbar-highlight-color:#FFFFFF;
scrollbar-3dlight-color:#000000;
scrollbar-darkshadow-color:#000000;
scrollbar-shadow-color:#808080;
scrollbar-arrow-color:#FFFFFF;
scrollbar-track-color:#000000;
}
